<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <!--  导入外部文件，将使用到这个文件中的参数  -->
    <properties resource="jdbc.properties"></properties>
    <settings>
        <setting name="cacheEnabled" value="true"/> <!--    开启全局缓存    -->
    </settings>
    <!--  实体别名  -->
    <typeAliases>
        <!--    实体别名的两种方式：1.使用typeAliases   2.使用package指定实体类所在的包，每个实体类都会自动注册一个名为类名的别名    -->
<!--        <typeAlias type="com.kingyal.usemybatis.entity.User" alias="User"></typeAlias>-->
        <package name="com.kingyal.usemybatis.entity"/>
    </typeAliases>
    <!-- 核心配置信息   -->
    <environments default="mybatisConfig">
        <!--    数据库相关配置    -->
        <environment id="mybatisConfig">
        <!--     事务控制类型       -->
            <transactionManager type="jdbc"></transactionManager>
            <!--      数据连接参数      -->
            <dataSource type="org.apache.ibatis.datasource.pooled.PooledDataSourceFactory">
                <property name="driver" value="${jdbc.driver}"/>
                <!-- &转义&amp; -->
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>
    <!--   注册mapper文件 -->
    <mappers>
        <mapper resource="com/kingyal/usemybatis/dao/UserDaoMapper.xml"/>
        <mapper resource="com/kingyal/usemybatis/dao/StudentDaoMapper.xml"/>
        <mapper resource="com/kingyal/usemybatis/dao/PassengerDaoMapper.xml"/>
        <mapper resource="com/kingyal/usemybatis/dao/DepartmentDaoMapper.xml"/>
        <mapper resource="com/kingyal/usemybatis/dao/EmployeeDaoMapper.xml"/>
    </mappers>
</configuration>